@import "../stylesheet/core/variables.scss";

.aboutme__container {
  height: 100%;
  width: 100%;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media all and (min-width: 768px) {
    padding: 1.5rem;
  }
}

.aboutme__img {
  border: 5px solid $colorIcon;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

fieldset {
  border: 1px solid transparent;
  border-top-color: $colorTextGrey;
  box-sizing: border-box;
  padding-left: 60px;
}

legend {
  font-family: $fontAboutme;
  font-size: 20px;
  margin: auto; /* to center */
  padding: 0 4px;
}

.aboutme__title {
  font-family: $fontAboutme;

  @media all and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.aboutme__text {
  font-family: $fontAboutme;
  text-align: justify;

  @media all and (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.aboutme__btn {
  margin: 3rem;
  border-radius: 20px;
  width: 4rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  }
}

.aboutme__btn--text {
  font-family: $fontText;
  color: $colorTextBlack;
}
