@import "../stylesheet/core/variables.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  opacity: 0.5;
  width: 100vw;
  height: auto;
  // padding: 1rem;
  // border-top: 1px solid $colorTextGrey;
}

.fa-heart {
  color: $colorPathIcons;
}
.fa-copyright {
  color: $colorPathIcons;
}
