@import "../stylesheet/core/variables.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 8rem;
  width: 100vw;

  &__logo--img {
    width: 4rem;

    @media all and (min-width: 768px) {
      width: 5rem;
    }
  }

  &__nav {
    // width: 20rem;
  }

  &__nav--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav--link {
    padding: 1rem;
    font-family: $fontText;
    color: $colorTextBlack;
    transition: text-decoration ease 1s;
    &:hover {
      text-decoration: underline;
    }

    @media all and (min-width: 768px) {
      font-size: 1.2rem;
    }
  }
}
