.Landing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.Landing__title {
  position: relative;
  float: left;
  background: white;
  color: black;
  padding: 1rem;
  @media all and (min-width: 768px) {
    padding: 2rem;
    font-size: 3rem;
  }
}

.Landing__title span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 1px solid #000;
  animation: escribir 5s steps(37) 1 alternate;
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.Landing__img {
  width: 25rem;

  @media all and (min-width: 768px) {
    width: 35rem;
  }
}
