// fonts
$fontTitle: "Roboto Slab", serif;
$fontText: "Roboto", sans-serif;
$fontBotton: "Roboto", sans-serif;
$fontAboutme: "Indie Flower", cursive;

// colors
$colorIcon: #f8dcf0;
$colorTextWhite: #ffffff;
$colorTextBlack: #000000;
$colorTextGrey: #4a4a4a;
$colorPathsection: #eff9ff;
$colorPathIcons: #e0388c;
